@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.wrapper__main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;

	> div.arrow__next {
		display: none;
	}

	// height: 99vh;

	@include content(
		1em,
		//text
		2.2em,
		//h2
		4.4em,
		//width-view
		8.3em,
		//hight-view
		6em,
		// button-width-view
		1.39em,
		//button-hight-view
		1.66em,
		//h1-logo
		1.66em,
		//padding logo
		2.5em,
		//image-width
		2.5em,
		//image-hight
		0.5em,
		//font-size-view
		$button-display-true,
		//button
		$view-display-true,
		//block-view
		70%,
		//padding-h2-and-view
		40%,
		//block__padding-h2-and-view
		1em //fontSize-h2-menu
	);
}

.wrapper__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	// padding-left: 25%;
	// height: 99vh;

	> div.arrow__next {
		@include arrow-next(85%, 80%, 1em, -90deg, 8vw, 0.15%);
	}

	@include content(
		0.6em,
		1.6em,
		3em,
		7.5em,
		4em,
		0.89em,
		1.26em,
		1.46em,
		2.1em,
		2.1em,
		0.4em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.6em
	);
}

.wrapper__allPage__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	padding-bottom: 25%;
	position: relative;

	> div.arrow__next {
		@include arrow-next(70%, 80%, 0.8em, -90deg, 4vw, 0.15%);
	}

	// height: 99vh;

	@include content(
		0.4em,
		1em,
		3.8em,
		7.7em,
		5.4em,
		0.69em,
		1.06em,
		1.16em,
		1.9em,
		1.9em,
		0.3em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.4em
	);
}

.wrapper__allPage_three__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	width: 95%;
	padding-right: 10%;
	padding-bottom: 20%;
	position: relative;

	> div.arrow__next {
		@include arrow-next(85%, 68%, 0.5em, -90deg, 2.5vw, 0.15%);
	}

	// height: 99vh;

	@include content(
		0.24em,
		0.8em,
		3.7em,
		7.6em,
		5.3em,
		0.59em,
		0.86em,
		0.96em,
		1.7em,
		1.7em,
		0.2em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.24em
	);
}

.wrapper__allPage_four__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	width: 95%;
	position: relative;
	// height: 99vh;

	> div.arrow__next {
		@include arrow-next(100%, 85%, 0.3em, -90deg, 1.5vw, 0.06%);
	}

	@include content(
		0.14em,
		0.6em,
		3.2em,
		7em,
		4.6em,
		0.39em,
		0.66em,
		0.76em,
		1.5em,
		1.5em,
		0.1em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.14em
	);
}

.wrapper__allPage_five__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	padding-left: 20%;
	position: relative;

	> div.arrow__next {
		@include arrow-next(88%, 91%, 0.2em, -90deg, 1vw, 0.06%);
	}

	// height: 99vh;

	@include content(
		0.1em,
		0.4em,
		0.7em,
		1.4em,
		4em,
		0.29em,
		0.5em,
		0.46em,
		1.2em,
		1.2em,
		0.09em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.1em
	);
}

.wrapper__allPage_six__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;

	> div.arrow__next {
		@include arrow-next(64%, 74%, 0.1em, -90deg, 0.5vw, 0%);
	}

	// height: 99vh;

	@include content(
		0.02em,
		0.2em,
		0.5em,
		1em,
		3.5em,
		0.19em,
		0.36em,
		0.26em,
		0.8em,
		0.8em,
		0.07em,
		$button-display-false,
		$view-display-false,
		70%,
		70%,
		0.02em
	);
}
