@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import '../../assets/styles/animations';

.wrapper__main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;

	aspect-ratio: 1/1;

	> div.arrow__next {
		display: none;
	}

	@include content(
		1em,
		//text
		2.2em,
		//h2
		4.4em,
		//width-view
		8.3em,
		//hight-view
		100%,
		// button-width-view
		1.39em,
		//button-hight-view
		1.66em,
		//h1-logo
		1.66em,
		//padding logo
		2.5em,
		//image-width
		2.5em,
		//image-hight
		0.5em,
		//font-size-view
		$button-display-true,
		//button
		$view-display-true,
		//block-view
		70%,
		//padding-h2-and-view
		1em //fontSize-h2-menu
	);
}

.wrapper__next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(1em, -90deg, 6vw, 0.15%);
	}

	@include content(
		0.55em,
		1.4em,
		3em,
		7.5em,
		4em,
		0.89em,
		1.06em,
		1.46em,
		2.1em,
		2.1em,
		0.4em,
		$button-display-false,
		$view-display-false,
		70%,
		0.6em
	);
}

.wrapper__three_next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(0.8em, -90deg, 3vw, 0.15%);
	}

	@include content(
		0.3em,
		1em,
		3.8em,
		7.7em,
		5.4em,
		0.69em,
		0.8em,
		1.16em,
		1.9em,
		1.9em,
		0.3em,
		$button-display-false,
		$view-display-false,
		70%,
		0.4em
	);
}

.wrapper__four_next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(0.4em, -90deg, 1.5vw, 0.15%);
	}

	@include content(
		0.2em,
		0.65em,
		3.7em,
		7.6em,
		5.3em,
		0.59em,
		0.5em,
		0.96em,
		1.7em,
		1.7em,
		0.2em,
		$button-display-false,
		$view-display-false,
		70%,
		0.24em
	);
}

.wrapper__five_next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(0.25em, -90deg, 1vw, 0.06%);
	}

	@include content(
		0.14em,
		0.374em,
		3.2em,
		7em,
		4.6em,
		0.39em,
		0.3em,
		0.76em,
		1.5em,
		1.5em,
		0.1em,
		$button-display-false,
		$view-display-false,
		70%,
		0.14em
	);
}

.wrapper__six_next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(0.15em, -90deg, 0.65vw, 0.06%);
	}

	@include content(
		0.1em,
		0.25em,
		0.7em,
		1.4em,
		4em,
		0.29em,
		0.2em,
		0.46em,
		1.2em,
		1.2em,
		0.09em,
		$button-display-false,
		$view-display-false,
		70%,
		0.1em
	);
}

.wrapper__seven_next {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	position: relative;
	aspect-ratio: 1/1;

	> div.arrow__next {
		@include arrow-next(0.1em, -90deg, 0.35vw, 0%);
	}

	@include content(
		0.02em,
		0.1em,
		0.5em,
		1em,
		3.5em,
		0.19em,
		0.09em,
		0.26em,
		0.8em,
		0.8em,
		0.07em,
		$button-display-false,
		$view-display-false,
		70%,
		0.02em
	);
}
