$color_one: rgb(229, 33, 39);
$color_two: rgb(11, 11, 11);
$color_three: rgb(106, 212, 255);
$color_five: rgb(82, 190, 172);
$color_six: rgb(251, 98, 71);
$color_seven: rgb(21, 26, 30);

$background_one: rgb(219, 209, 183);
$background_two: rgb(255, 255, 255);
$background_three: rgb(255, 218, 68);
$background_five: rgb(47, 52, 54);
$background_six: rgb(53, 106, 133);
$background_seven: rgb(39, 19, 37);
$background_eight: rgb(47, 52, 54);
$background_nine: rgb(44, 36, 53);

$background_start-button: rgba(128, 128, 128, 0.5);

$fz_standart: 18px;

$button-display-true: block;
$view-display-true: flex;
$arrow-display-false: none;

$button-display-false: none;
$view-display-false: none;
$arrow-display-true: block;
