@import '../../assets/styles/variables';
@import '../../assets/styles/animations';

.wrapper {
	background-color: $background_two;
	position: absolute;
	z-index: 1;
	width: 100.4%;
	height: 100.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $background_seven;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $background_seven;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_six;
		border-radius: 0.3em;
	}
}

.wrapper_scan {
	background-color: $background_two;
	position: absolute;
	z-index: 1;
	width: 100.4%;
	height: 100.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $background_nine;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $background_nine;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_five;
		border-radius: 0.3em;
	}
}

.wrapper_kanban {
	background-color: $background_two;
	position: absolute;
	z-index: 1;
	width: 100.4%;
	height: 100.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $background_six;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $background_six;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_three;
		border-radius: 0.3em;
	}
}

.wrapper_HOTD {
	background-color: $background_two;
	position: absolute;
	z-index: 1;
	width: 100.4%;
	height: 100.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $background_five;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $background_five;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_one;
		border-radius: 0.3em;
	}
}

.wrapper_skills {
	background-color: $color_two;
	position: absolute;
	z-index: 1;
	width: 101.4%;
	height: 101.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $background_three;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $background_three;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color_two;
		border-radius: 0.3em;
	}
}

.wrapper_contact {
	background-color: $background_two;
	position: absolute;
	z-index: 1;
	width: 101.4%;
	height: 101.4%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: $color_seven;
	align-self: center;
	justify-self: center;
	animation: viewDetailPage 400ms linear 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&::-webkit-scrollbar {
		width: 0.5em;
		background-color: $color_seven;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $background_one;
		border-radius: 0.3em;
	}
}

.block__image {
	position: relative;
	display: grid;
	grid-template-columns: 70% 30%;
	align-items: center;
	background-color: $background_seven;
	padding-top: 1%;

	cursor: url('./images/test3.png'), auto;

	@media (max-width: 2000px) {
		cursor: url('./images/test2.png'), auto;
	}

	@media (max-width: 1000px) {
		cursor: url('./images/test.png'), auto;
	}

	> .block__left {
		margin-left: 3%;

		> .neznaika {
			width: 100%;
		}

		> .block__agregator {
			> .agregator_white {
				width: 49.5%;
			}
			> .agregator_dark {
				width: 49.5%;
				margin-left: 1%;
			}
		}
	}

	> .block__farm {
		display: flex;
		flex-direction: column;
		align-items: center;

		> .Farm {
			width: 88%;
		}

		> .Farm1 {
			width: 88%;
		}
		> .Farm2 {
			width: 88%;
		}
	}

	> .home__scan {
		width: 100%;
	}

	> .block__right {
		display: flex;
		flex-direction: column;
		gap: 1em;

		> img {
			width: 100%;
		}
	}

	> .home__kanban {
		width: 100%;
	}
	> .block__right_kanban {
		display: flex;
		flex-direction: column;
		gap: 1em;

		> img {
			width: 100%;
		}
	}

	> .block__left_HOTD {
		> .home__HOTD {
			width: 100%;
		}
	}
	> .block__right_HOTD {
		> .home__HOTD {
			width: 100%;
		}
	}
}

.block__content {
	padding: 8% 10%;
	display: flex;
	flex-direction: column;
	gap: 2em;
	position: relative;

	> .line {
		width: 100%;
		height: 2px;
		background-color: $background_two;
	}

	> .button__authors {
		position: absolute;
		z-index: 99;
		bottom: -40%;
		right: 0;
		background-color: rgba($color: #000000, $alpha: 0);
		font-size: 1em;
		font-weight: 600;

		&:hover {
			cursor: pointer;
		}
	}
}

img {
	border-radius: 2%;
	box-shadow: 0px 0px 30px $color_six;
}
.cursor__image {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
